<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace = 绑定一个对应的Dao/Mapper接口 -->
<mapper namespace="com.github.FlowingCloudL.haya152.nga.app.dao.NgaMapper">

    <resultMap id="ngaCommentsMap" type="NgaCommentsEntity">
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="floor" property="floor"/>
        <result column="date" property="date"/>
        <result column="like" property="like"/>
        <result column="comments" property="comments"/>
        <result column="tag" property="tag"/>
    </resultMap>

    <resultMap id="ngaBuildingMap" type="NgaBuildingEntity">
        <result column="building_name" property="buildingName"/>
        <result column="building_no" property="buildingNo"/>
        <result column="tableName" property="tableName"/>
        <result column="startDatetime" property="startDatetime"/>
        <result column="endDatetime" property="endDatetime"/>
        <result column="url" property="url"/>
    </resultMap>

    <select id="selectCommentsByDynamicCriteria" parameterType="map" resultMap="ngaCommentsMap">
        select * from `haya152-nga`.${no}
        <where>
            <if test="uid != null">
                and `uid` = #{uid}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
            <if test="floor != null">
                and `floor` = #{floor}
            </if>
            <if test="tag != null">
                and `tag` = #{tag}
            </if>
            <if test="startDatetime != null">
                and `date` >= STR_TO_DATE(#{startDatetime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endDatetime != null">
                and `date` &lt;= STR_TO_DATE(#{endDatetime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="fuzzyKey != null">
                and `comments` like concat('%',#{fuzzyKey},'%')
            </if>
        </where>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
            <if test="order == 2"> DESC </if>
        </if>
    </select>

    <select id="selectBuildingByNo" parameterType="int" resultMap="ngaBuildingMap">
        select * from `haya152-nga`.nga_building where building_no = #{no}
    </select>

    <select id="selectBuildingTableName" parameterType="int" resultType="String">
        select tableName from `haya152-nga`.nga_building where building_no = #{no}
    </select>

    <select id="selectBuildingList" resultMap="ngaBuildingMap">
        select * from `haya152-nga`.nga_building
    </select>



</mapper>