<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.FlowingCloudL.haya152.nga.crawler.dao.NGAMapper">

    <select id="insertAndUpdateNGA">
        insert into `haya152-nga`.${dto.tableName} (`uid`, `name`, `floor`, `date`, `like`, `comments`, `tag`)
        values (#{dto.uid}, #{dto.name}, #{dto.floor}, #{dto.date}, #{dto.like}, #{dto.comments}, #{dto.tag})
        on duplicate key update
        `name` = #{dto.name}, `date` = #{dto.date}, `like` = #{dto.like}, `comments` = #{dto.comments}, `tag` = #{dto.tag}
    </select>

    <update id="updateDatetime">
        update `haya152-nga`.nga_building
        set `endDatetime` = #{datetime}
        where tableName = #{tableName}
    </update>

    <select id="selectBuildingTableName" resultType="String">
        select `tableName` from `haya152-nga`.nga_building
        where building_no = #{no}
    </select>

    <select id="selectBuildingUrl" resultType="String">
        select `url` from `haya152-nga`.nga_building
        where building_no = #{no}
    </select>

    <select id="selectMaxFloor" resultType="Integer">
        select max(floor) from `haya152-nga`.${tableName}
    </select>

    <resultMap id="NGAMap" type="NGACommentsEntity">
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="floor" property="floor"/>
        <result column="date" property="date"/>
        <result column="like" property="like"/>
        <result column="comments" property="comments"/>
        <result column="tag" property="tag"/>
    </resultMap>

</mapper>