<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
    <style type="text/css">
        .comments {
            white-space: pre-line;
        }
    </style>
</head>
<body>


<hr>
<h1>查询结果</h1>
<br>
<h4 th:each="ngaDto:${list}">
    #<a th:text="${ngaDto.getFloor()}"/>
    <a th:text="${ngaDto.getName()}"/>
    <a th:text="${ngaDto.getUid()}"/>
    <a th:text="${ngaDto.getDate()}"/>
    ⯅<a th:text="${ngaDto.getLike()}"/>
    <br>
    <p th:utext="${ngaDto.getComments()}" class="comments"/>
    <br>
    =====================================================================
</h4>

</body>
</html>