<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.AttrMapper">

    <sql id="attrQueryCondition">
        <where>
            <if test="attrDTO.id != null">
                and `id` = #{attrDTO.id}
            </if>
            <if test="attrDTO.name != null">
                and `name` = #{attrDTO.name}
            </if>
            <if test="attrDTO.type != null">
                and `type` = #{attrDTO.type}
            </if>
            <if test="attrDTO.searchable != null">
                and `searchable` = #{attrDTO.searchable}
            </if>
        </where>
    </sql>

    <select id="list" resultType="AttrEntity">
        select * from `attr` <include refid="attrQueryCondition"/>
    </select>

    <select id="listByCategoryId" resultType="AttrEntity">
        select * from `attr` where `category_id` = #{categoryId} or `category_id` = 0;
    </select>

    <select id="getById" resultType="AttrEntity">
        select * from `attr` where `id` = #{id}
    </select>

    <insert id="save" parameterType="AttrEntity">
        insert into `attr` (`category_id`, `name`, `desc`, `type`, `searchable`)
        values (#{categoryId}, #{name}, #{desc}, #{type}, #{searchable})
    </insert>

    <update id="update" parameterType="AttrEntity">
        update `attr`
        <set>
            <if test="attr.categoryId != null">`category_id` = #{categoryId}</if>
            <if test="attr.name != null">`name` = #{attr.name}</if>
            <if test="attr.desc != null">`desc` = #{attr.desc}</if>
            <if test="attr.type != null">`type` = #{attr.type}</if>
            <if test="attr.searchable != null">`searchable` = #{attr.searchable}</if>
        </set>
        where `id` = #{attr.id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from `attr` where `id` = #{id}
    </delete>

</mapper>