<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.AttrMapper">

    <select id="listByCategoryId" resultType="AttrEntity">
        select * from `attr` where `category_id` = #{categoryId} or `category_id` = 0;
    </select>

    <select id="getByAttrId" resultType="AttrEntity">
        select * from `attr` where `attr_id` = #{attrId}
    </select>

    <insert id="save" parameterType="AttrEntity">
        insert into `attr` (`attr_name`, `attr_type`, `category_id`, `searchable`, `status`)
        value (#{attr.attrName}, #{attr.attrType}, #{attr.categoryId}, #{attr.searchable}, #{attr.status})
    </insert>

    <update id="update" parameterType="AttrEntity">
        update `attr`
        <set>
            <if test="attr.attrName != null">`attr_name` = #{attr.attrName}</if>
            <if test="attr.attrType != null">`attr_type` = #{attr.attrType}</if>
            <if test="attr.categoryId != null">`category_id` = #{attr.categoryId}</if>
            <if test="attr.searchable != null">`searchable` = #{attr.searchable}</if>
            <if test="attr.status != null">`enable` = #{attr.status}</if>
        </set>
        where `attr_id` = #{attr.attrId}
    </update>

    <delete id="deleteByAttrId" parameterType="Long">
        delete from `attr` where `attr_id` = #{attrId}
    </delete>

</mapper>