<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.AttrValueMapper">

    <select id="listAttrValueIdsByAttrId" parameterType="Long" resultType="Long">
        select `id` from `attr_value` where `attr_id` = #{attrId};
    </select>

    <insert id="saveBatch" parameterType="List">
        insert into `attr_value` (`attr_id`, `value`) values
        <foreach collection="attrValueEntityList" item="attrValue" separator=",">
            (#{attrValue.attrId}, #{attrValue.value})
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="List">
        <foreach collection="attrValueEntityList" item="attrValue">
            /* 更新属性值表 */
            update `attr_value` set `value` = #{attrValue.value}
            where `id` = #{attrValue.id};
            /* 更新spu与基本属性关联表中的属性值 */
            /* 更新sku与销售属性关联表中的属性值 */
        </foreach>
    </update>

    <delete id="deleteBatch" parameterType="List">
        delete from `attr_value` where `id` in
        <foreach collection="attrValueIdList" item="attrValueId" open="(" separator="," close=")">
            #{attrValueId}
        </foreach>
    </delete>

</mapper>