<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.CategoryMapper">

    <select id="getByCategoryId" parameterType="Long" resultType="CategoryEntity">
        select * from `category` where `category_id` = #{categoryId}
    </select>

    <select id="listByCategoryIds" resultType="CategoryEntity">
        select * from `category` where `category_id` in
        <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </select>

    <select id="listByParentId" parameterType="Long" resultType="CategoryEntity">
        select * from `category` where `parent_id` = #{parentId}
    </select>

    <select id="listByParentIdAndStatus" resultType="CategoryEntity">
        select * from `category`
        <where>
            <if test="parentId != null">`parent_id` = #{parentId}</if>
            <if test="status != null">`status` = #{status}</if>
        </where>
    </select>


    <insert id="save" parameterType="CategoryEntity">
        insert into `category` (category_name, category_level, parent_id, icon_url, status)
        value (#{category.categoryName}, #{category.categoryLevel}, #{category.parentId},
               #{category.iconUrl}, #{category.status})
    </insert>

    <update id="update" parameterType="CategoryEntity">
        update `category`
        <set>
            <if test="category.categoryName != null">`category_name` = #{category.level}</if>
            <if test="category.categoryLevel != null">`category_level` = #{category.categoryLevel}</if>
            <if test="category.parentId != null">`parent_id` = #{category.parentId}</if>
            <if test="category.iconUrl != null">`icon_url` = #{category.iconUrl}</if>
            <if test="category.status != null">`status` = #{category.status}</if>
        </set>
        where `category_id` = #{category.categoryId}
    </update>

    <update id="changeBatchOfStatus">
        update `category` set `status` = #{status} where `category_id` in
        <foreach collection="categoryIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteByCategoryId" parameterType="Long">
        delete from `category` where `category_id` = #{categoryId}
    </delete>

</mapper>