<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.ShopCartMapper">

    <select id="listByUid" resultType="ShopCartItemEntity">
        select * from `shop_cart` where `user_id` = #{uid}
    </select>

    <insert id="addItem" parameterType="ShopCartItemEntity">
        insert into `shop_cart` (`user_id`, `spu_id`, `sku_id`, `count`, `price_before`)
        value (#{item.userId}, #{item.spuId}, #{item.skuId}, #{item.count}, #{item.priceBefore})
    </insert>

    <update id="changeCount" parameterType="ShopCartItemEntity">
        update `shop_cart` set `count` = #{count}
        where `id` = #{id} and `user_id` = #{uid}
    </update>

    <update id="changeSku" parameterType="ShopCartItemEntity">
        update `shop_cart` set `sku_id` = #{skuId}
        where `id` = #{id} and `user_id` = #{uid}
    </update>

    <delete id="deleteBatch">
        delete from `shop_cart` where `user_id` = #{uid} and `id` in
        <foreach collection="shopCartItemIds" item="shopCartItemId" open="(" separator="," close=")">
            #{shopCartItemId}
        </foreach>
    </delete>

    <delete id="clearUserShopCart" parameterType="Long">
        delete from `shop_cart` where `user_id` = #{uid}
    </delete>

</mapper>