<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.SkuMapper">

    <select id="getBySkuId" parameterType="Long" resultType="SkuEntity">
        select * from `sku_info` where `sku_id` = #{skuId}
    </select>

    <select id="listBySpuId" parameterType="Long" resultType="SkuEntity">
        select * from `sku_info` where `spu_id` = #{spuId}
        <if test="status != null">
            and `status` = #{status}
        </if>
    </select>

    <insert id="save" parameterType="SkuEntity">
        insert into `sku_info` (`spu_id`, `sku_name`, `sku_desc`, `price`, `stock`, `status`)
        value (#{sku.spuId}, #{sku.skuName}, #{sku.skuDesc}, #{sku.price}, #{sku.stock}, #{sku.status})
    </insert>

    <insert id="saveBatch">
        insert into `sku_info` (`spu_id`, `sku_name`, `sku_desc`, `price`, `stock`, `status`) values
        <foreach collection="skuList" item="sku" separator=",">
            (#{sku.spuId}, #{sku.skuName}, #{sku.skuDesc}, #{sku.price}, #{sku.stock}, #{sku.status})
        </foreach>
    </insert>

    <sql id="updateSql">
        update `sku_info`
        <set>
            <if test="sku.skuName != null">`sku_name` = #{sku.skuName}</if>
            <if test="sku.skuDesc != null">`sku_desc` = #{sku.skuDesc}</if>
            <if test="sku.price != null">`price` = #{sku.price}</if>
            <if test="sku.stock != null">`stock` = #{sku.stock}</if>
            <if test="sku.status != null">`status` = #{sku.status}</if>
        </set>
        where `sku_id` = #{sku.skuId}
    </sql>

    <update id="update" parameterType="SkuEntity">
        <include refid="updateSql"/>
    </update>
    
    <update id="updateBatch">
        <foreach collection="skuList" item="sku" separator=";">
            <include refid="updateSql"/>
        </foreach>
    </update>

    <update id="changeStatus">
        update `sku_info` set `status` = #{status} where `sku_id`
        <foreach collection="skuIds" item="skuId" open="(" separator="," close=")">
            #{skuId}
        </foreach>
    </update>

    <update id="changeSales">
        update `sku_info` set `sales` = `sales` + #{num} where `sku_id` = #{skuId}
    </update>

    <update id="changeStock">
        update `sku_info` set `stock` = `stock` + #{num} where `sku_id` = #{skuId}
    </update>

    <delete id="deleteBySkuId" parameterType="Long">
        delete from `sku_info` where `sku_id` = #{skuId}
    </delete>

    <delete id="deleteBySpuId" parameterType="Long">
        delete from `sku_info` where `spu_id` = #{spuId}
    </delete>


</mapper>