<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.SkuSaleAttrMapper">

    <select id="listBySkuId" parameterType="Long" resultType="SkuSaleAttrEntity">
        select * from `sku_sale_attr` where `sku_id` = #{skuId}
    </select>

    <insert id="saveBatch">
        insert into `sku_sale_attr`
        (`sku_id`, `attr_id`, `attr_name`, `attr_value`)
        values
        <foreach collection="skuSaleAttrList" item="skuSaleAttr" separator=",">
            (#{skuId}, #{skuSaleAttr.attrId}, #{skuSaleAttr.attrName}, #{skuSaleAttr.attrValue})
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach collection="skuSaleAttrList" item="skuSaleAttr" separator=";">
            update `sku_sale_attr`
            <set>
                <if test="skuSaleAttr.attrName != null">`attr_name` = #{skuSaleAttr.attrName}</if>
                <if test="skuSaleAttr.attrValue != null">`attr_value` = #{skuSaleAttr.attrValue}</if>
            </set>
            where `id` = #{skuSaleAttr.id} and `sku_id` = #{skuId}
        </foreach>
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from `sku_sale_attr` where `id` = #{id}
    </delete>

    <delete id="deleteBySkuId" parameterType="Long">
        delete from `sku_sale_attr` where `sku_id` = #{skuId}
    </delete>

    <delete id="deleteBySpuId" parameterType="Long">
        delete from `sku_sale_attr` where `sku_id` in
        (select `sku_id` from `sku_info` where `spu_id` = #{spuId})
    </delete>

</mapper>