<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.SpuBasicAttrMapper">

    <select id="listBySpuId" parameterType="Long" resultType="SpuBasicAttrEntity">
        select * from `spu_basic_attr` where `spu_id` = #{spuId}
    </select>

    <select id="listByAttrId" parameterType="Long" resultType="SpuBasicAttrEntity">
        select * from `spu_basic_attr` where `attr_id` = #{attrId}
    </select>

    <insert id="saveBatch">
        insert into `spu_basic_attr` (`spu_id`, `attr_id`, `attr_name`, `attr_value`) values
        <foreach collection="entityList" item="entity" separator=",">
            (#{spuId}, #{entity.attrId}, #{entity.attrName}, #{entity.attrValue})
        </foreach>
    </insert>

    <update id="updateBatch">
        <foreach collection="entityList" item="entity" separator=";">
            update `spu_basic_attr`
            <set>
                <if test="entity.attrName != null">`attr_name` = #{entity.attrName}</if>
                <if test="entity.attrValue != null">`attr_value` = #{entity.attrValue}</if>
            </set>
            where `id` = #{entity.id} and `spu_id` = #{spuId}
        </foreach>
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from `spu_basic_attr` where `id` = #{id}
    </delete>

    <delete id="deleteBySpuId" parameterType="Long">
        delete from `spu_basic_attr` where `spu_id` = #{spuId}
    </delete>

    <delete id="deleteByAttrId" parameterType="Long">
        delete from `spu_basic_attr` where `attr_id` = #{attrId}
    </delete>


</mapper>