<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.SpuMapper">

    <sql id="searchParam">
        <where>
            <if test="spuDTO.spuId != null">`id` = #{spuDTO.spuId}</if>
            <if test="spuDTO.brandId != null">`brand_id` = #{spuDTO.brandId}</if>
            <if test="spuDTO.categoryId != null">`category_id` = #{spuDTO.categoryId}</if>
            <if test="spuDTO.status != null">`status` = #{spuDTO.status}</if>
            <if test="spuDTO.minPrice != null">`price` &lt;= #{spuDTO.minPrice} </if>
            <if test="spuDTO.maxPrice != null">`price` &gt;= #{spuDTO.maxPrice} </if>
        </where>
    </sql>
    
    <select id="list" resultType="SpuEntity">
        select * from `spu_info`
    </select>

    <select id="listBySpuIds" parameterType="List" resultType="SpuEntity">
        select `spu_id` from `spu_info` where `spu_id` in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getBySpuId" parameterType="Long" resultType="SpuEntity">
        select * from `spu_info` where `spu_id` = #{spuId}
    </select>

    <insert id="save" parameterType="SpuEntity">
        insert into `spu_info` (`spu_name`, `spu_desc`, `desc_img_url`, `brand_id`, `category_id`, `status`)
        value (#{spu.spuName}, #{spu.descImgUrl}, #{spu.spuDesc},
               #{spu.brandId}, #{spu.categoryId}, #{spu.status})
    </insert>

    <update id="update" parameterType="SpuEntity">
        update `spu_info`
        <set>
            <if test="spu.spuName != null">`spu_name` = #{spu.spuName}</if>
            <if test="spu.spuDesc != null">`spu_desc` = #{spu.spuDesc}</if>
            <if test="spu.descImgUrl != null">`desc_img_url` = #{spu.descImgUrl}</if>
            <if test="spu.brandId != null">`brand_id` = #{spu.brandId}</if>
            <if test="spu.categoryId != null">`category_id` = #{spu.categoryId}</if>
            <if test="spu.status != null">`status` = #{spu.status}</if>
        </set>
        where `spu_id` = #{spu.spuId}
    </update>

    <update id="changeStatus">
        update `spu_info` set `status` = #{status} where `spu_id` = #{spuId}
    </update>

    <update id="changeStatusBatch">
        update `spu_info` set `status` = #{status} where `spu_id` in
        <foreach collection="spuIdList" item="spuId" open="(" separator="," close=")">
            #{spuId}
        </foreach>
    </update>

    <delete id="deleteBySpuId" parameterType="Long">
        delete from `spu_info` where `spu_id` = #{spuId}
    </delete>

</mapper>