<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.product.mapper.StockMapper">

    <update id="reduceStock">
        update `sku_stock` set `stock` = `stock` - #{count}
        where `sku_id` = #{skuId} and `stock` - #{count} >= 0
    </update>

</mapper>