<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fp.mall.sale.mapper.FlashSaleItemMapper">

    <select id="listByFlashsaleSessionId" parameterType="Long" resultType="FlashSaleItemEntity">
        select * from `sms_flashsale_item` where `flashsale_session_id` = #{id}
    </select>

</mapper>